
.boutons {
    background-color: rgb(196, 243, 245);
    margin: 5px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    flex-grow: 1;   
}

.boutons.playing {
    background-color: cadetblue;
    color: white;
}

.boutons:hover{
    background-color: cadetblue;
    color: white;
}

#blocs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
    padding: 5px;
    overflow: scroll;
    height: 100%;
    background-color: rgb(188, 223, 224);
    overflow-x: hidden;
}

.row {
    background-color: cadetblue;
    height: 100vh;
}

#deuxmin {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1{
    font-size: 6rem;
    color: white ;
    
}

p {
    font-size: 3rem;
    color: rgb(188, 223, 224);
}
