* {
    margin:0;
}
.boutons {
    background-color: rgb(196, 243, 245)
    margin: 5%;
   
}

.boutons:hover{
    background-color: cadetblue;
}

#blocs{
    padding-top: 10%;
    overflow: scroll;
    height: 800px;
    background-color: rgb(188, 223, 224);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#deuxmin {
    padding-top: 30%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-color: white;
}

.container{
    border: solid grey 2px;
    background-color: cadetblue;
}

h1{
    font-size: 4rem;
    color: white;
}

p{
    font-size: 2rem;
}