button {
    background-color: rgb(196, 243, 245);
    margin: 1px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 3%;

   
}

button:hover{
    background-color: cadetblue;
}

#blocs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    overflow: scroll;
    height: 800px;
    background-color: rgb(188, 223, 224);
    
}

.row {
    background-color: cadetblue;
}

#deuxmin {
   padding-top: 15%;
   padding-left: 5%;;
   text-align: center;
}

h1{
    font-size: 6rem;
    color: white ;
    
}

p {
    font-size: 3rem;
    color: rgb(188, 223, 224);
}
